<div class="item">
	<div class="label">
	  Category
	</div>
	<div style="padding-left:70px;">
    <% for category in Category.find(:all) %>  
      <div>  
        <%= check_box_tag "question[category_ids][]", category[:id], @question.categories.include?(category) %>  
        <%= category.name %>
      </div>  
    <% end %>
  </div>
</div>